{% extends 'baseform.html.twig' %}

{% block title %}LACVI - Inscription{% endblock %}

{% block body %}

<section class="w-full h-full flex flex-col px-4 py-8 lg:gap-3 lg:py-8 lg:items-center">

    <h2 class="text-red lg:text-center">Compte créé avec succès</h2>
    <p>Votre compte a bien été créé, vous devez maintenant attendre qu'il soit validé pour pouvoir passer commande.</p>

</section>

{% endblock %}
