    {% block header %}

    <header class="w-full h-fit flex justify-center gap-4 px-4 py-3 bg-white shadow-box lg:px-16">
        <div class="max-w-1/2 w-[180px]">
            <img src="{{ asset('img/logo.png') }}" alt="Logo" class="w-full" />
        </div>
    </header>

    {% endblock %}
